* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img {
    background: url("hongbin-c-unsplash.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    filter: blur(3px);
    width: 100%;
    height: 100vh; 
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

body {
    font-family: sans-serif;
    background: #f9F9F9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.container {
    background: #f1F2F4;
    border-width: 1px;
    border-style: solid;
    border-color: #D0D4DA;
    padding: 30px;
    width: 100%;
    max-width: 600px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Start Screen */
.screen {
    display: none;
    text-align: center;
}

.screen.active {
    display: block;
}

h2 {
    text-align: center;
    color: #2A2A2A;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label, p {
    font-weight: bold;
    color: #5A5F67;
    text-align: left;
}

input, select {
    padding: 10px;
    color: #2A2A2A;
    border-radius: 6px;
    border: 1px solid #D0D4DA;
    font-size: 14px;
}

select .drop-down {
    margin-bottom: 12px;
}

.radio-btns {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    gap: 10px;
}


.radio-btns input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.radio-btns label {
    background-color: #e4e4e4;
    color: rgba(0, 0, 0, 0.6);
    border-radius: 6px;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    padding: 8px 16px;
    margin-right: -1px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px 3px rgba(255, 255, 255, 0.1);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.radio-btns label:hover {
    background-color: #1F4E79;
    color: #FFFFFF;
    box-shadow: none;
}

.radio-btns input:checked + label {
    background-color: #8A1538;
    color: #FFFFFF;
    box-shadow: none;
}

button {
    background-color: #8A1538;
    color: #FFFFFF;
    border: none;
    padding: 12px;
    margin: 6px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background-color: #1F4E79;
}

.btn-loading {
    background-color: #e4e4e4 !important;
    cursor: not-allowed;
    opacity: 0.8;
}

.summary {
    margin: 8px;
    background-color: #f1F2F4;
    border-radius: 6px;
    padding: 12px;
}

.summary p {
    text-align: center;
}

.row {
    display: flex;
    width: 100%;
    margin: 6px 0;
    padding: 6px;
    background-color: #F9F9F9;
    border-radius: 6px;
}

.label {
    width: 150px;
    flex: 0 0 auto;
    text-align: left;
    color: #9EA3AA;
    font-weight: bold;
}

.value {
    flex: 1;
    color: #1F4E79;
    text-align: center;
    font-weight: bold;
}

.label-predicted {
    width: 200px;
    flex: 0 0 auto;
    text-align: left;
    color: #9EA3AA;
    font-weight: bold;
}

.predicted-price {
    flex: 1;
    color:#8A1538;
    text-align: center;
    font-weight: bold;
}